*.o
*.a
.dir-locals.el
sources/xz-*.tar.xz
sources/bzip2-*.tar.gz
sources/ncurses-*.tar.gz
sources/curl-*.tar.xz
sources/gsl-*.tar.gz
sources/gmp-*.tar.xz
sources/gnutls-*.tar.xz
sources/nettle-*.tar.gz
sources/xz-*/
sources/bzip2-*/
sources/ncurses-*/
sources/curl-*/
sources/gsl-*/
sources/gmp-*/
sources/gnutls-*/
sources/nettle-*/
tests/bcftools
tests/samtools
built_deps/
staging/
htstools-x86_64-linux-glibc.tgz
htstools-x86_64-linux-musl.tgz
hts-binaries-test.tgz
