[submodule "sources/zlib"]
	path = sources/zlib
	url = https://github.com/madler/zlib.git
[submodule "sources/libdeflate"]
	path = sources/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
